<div>
    <h2 class="body-title">{{title}}</h2>
    <button class="btn btn-warning back" ng-click="back()">返回上一页</button>
    <div class="chat-detail">
        <div class="ctop">
            <h3>基本信息</h3>
            <div class="cMsg">
                <div>
                    <label>发帖人：</label>
                    <div>{{chatMsg.NickName}}</div>
                </div>
                <div>
                    <label>标题：</label>
                    <div>{{chatMsg.Title}}</div>
                </div>
                <div>
                    <label>内容：</label>
                    <div>{{chatMsg.Content}}</div>
                </div>
            </div>
        </div>
        <div class="cBom">
            <h3>回帖信息</h3>
            <div class="cCom">
                <div class="cItem" ng-repeat="item in chatComment">
                    <img ng-src="{{item.Header}}" alt=""/>
                    <div class="cP">
                        <div>回帖人：{{item.NickName}}</div>
                        <div>回帖内容：{{item.Content}}</div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>