<div >
    <h2 class="body-title">{{title}}</h2>
    <div class="home">
        <div >
            <div><a ui-sref="userInfo">用户管理</a></div>
        </div>
        <div >
            <div><a ui-sref="graohyInfo">摄影贴管理</a></div>
        </div>
        <div >
            <div><a ui-sref="labelInfo">标签管理</a></div>
        </div>
        <div >
            <div><a ui-sref="skillInfo">技巧贴管理</a></div>
        </div>
        <div >
            <div><a ui-sref="chatInfo">交流贴管理</a></div>
        </div>
        <div >
            <div><a ui-sref="personal">作品审核</a></div>
        </div>
    </div>
</div>